a {
    color: white;
}

path {
    stroke: steelblue;
    stroke-width: 1;
    fill: none;
}

.axis {
  shape-rendering: crispEdges;
}

#lead_table, .lead_table_row { 
	/*color: red;*/
	width: 100%;
	border: 1px solid black;

	/*color: red;*/
	/*border-collapse: collapse;*/
}

#lead_table {
	margin-top: 5%;
	/*color: red;*/
}

.lead_table_column {
	border: 1px solid black;
	padding: 15px;
}

#lead_table_title {
	font-size: 1.5em;
	font-weight: bold;
	/*color: red;*/
}

tr:hover {
	background-color: #f5f5f5;
}

/*.lead_table_row {
	padding: 1px;
}*/

body {
	font-size: 100%;
}

div h1 {
	font-size: 4em;
	/*color: red;*/
}

div h3 {
	font-size: 3em;
	/*color: red;*/
}

#graph_hider {
	margin-left: 45%;
	margin-top: 5%;
	/*color: red;*/
}

#graph {
	display: none;
	margin-bottom: -40%; /* I'm sorry I know this is a bad way to do it/probably painful to look at but it works*/
}

#graph_title {
	margin-top: 5%;
	margin-bottom: -10%;
	text-align: center;
}



