.Republican {
    background-color: #FF563B;
}
.Democrat {
    background-color: #29859F;
}
.Independent{
    background-color: #FF9E3B;
}


td a, td {
    color: white
}

.button_css {
    color:white;
}
