<!DOCTYPE HTML>
<html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bills</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'gov_data/senator_index_style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-inverse">
            <a class='btn btn-success nav-item nav-link' role='button' href = '{% url "gov_data:index" %}'>Home</a>
            <a class='btn btn-danger nav-item nav-link' role='button' href='{% url "gov_data:bills_index" %}'>Bills</a>
            <a class='btn btn-primary nav-item nav-link' role='button' href='{% url "gov_data:senators_index" %}'>Senators</a>
        </nav> 
        <div class='container'>
            <div class = 'row'>
            <form class = 'form-inline'>
            <select class = 'form-control row-margin'>
                <option value="114">2014 - 2016 (114th)</option>
                <option value="113">2012 - 2014 (113th)</option>
                <option value="112">2010 - 2012 (112th)</option>
                <option value="111">2008 - 2010 (111th)</option>
                <option value="110">2006 - 2008 (110th)</option>
                <option value="109">2004 - 2006 (109th)</option>
                <option value="109">2002 - 2004 (108th)</option>
                <option value="107">2000 - 2002 (107th)</option>
                <option value="106">1998 - 2000 (106th)</option>
                <option value="105">1996 - 1998 (105th)</option>
                <option value="104">1994 - 1996 (104th)</option>
                <option value="103">1992 - 1994 (103rd)</option>
                <option value="102">1990 - 1992 (102nd)</option>
                <option value="101">1988 - 1990 (101st)</option>
                <option value="100">1986 - 1988 (100th)</option>
                <option value="99">1984 - 1986 (99th)</option>
                <option value="98">1982 - 1984 (98th)</option>
                <option value="97">1980 - 1982 (97th)</option>
                <option value="96">1978 - 1980 (96th)</option>
                <option value="95">1976 - 1978 (95th)</option> 
                <option value="94">1974 - 1976 (94th)</option> 
                <option value="93">1972 - 1974 (93rd)</option> 
            </select>
            <button type='button' class='btn btn-primary' id='go'>Go!</button>
            <script>
                $("body").on("click", "#go", (function () {
                  var congress = $("select").find('option:selected').val();
                  var url = '/gov_data/bills/' + congress
                  window.location = url;
                }));
            </script>
        </form>
        </div>
            {% if bill_list %}
            <div class='row'>
                <p>Displaying Bills {{start}} to {{end}}</p>
                <a href = '{% url "gov_data:bills_index" congress last %}' class='btn btn-danger btn-sm' role='button'>Back</a>
                <a href = '{% url "gov_data:bills_index" congress next %}' class='btn btn-info btn-sm' role='button'>Next</a>                
            </div>  
                <ul>    
                {% for bill in bill_list %} 
                    <li><a href = '{% url "gov_data:bill_detail" bill.bill_id %}'>{{ bill.title}}</a></li>
                {% endfor %}
                </ul>
                <div class='row'>
                    <a href = '{% url "gov_data:bills_index" congress last %}' class='btn btn-danger btn-sm' role='button'>Back</a>
                    <a href = '{% url "gov_data:bills_index" congress next %}' class='btn btn-info btn-sm' role='button'>Next</a>                
                </div>  
            {% else %}
                <p>No Bills to display.</p>
            {% endif %}
        </div>  
