<!DOCTYPE HTML>
<html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Senators</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'gov_data/senator_detail_style.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-inverse">
            <a class='btn btn-success nav-item nav-link' role='button' href = '{% url "gov_data:index" %}'>Home</a>
            <a class='btn btn-danger nav-item nav-link' role='button' href='{% url "gov_data:bills_index" %}'>Bills</a>
            <a class='btn btn-primary nav-item nav-link' role='button' href='{% url "gov_data:senators_index" %}'>Senators</a>
        </nav>
        <div class = 'container'>
            <div class='row row-margin'>
                <h1>Sen. {{senator.first}} {{senator.last}} </h1>
                <h3> {{senator.party}} from the State of {{senator.state}}</h3>
            </div>
            <div class='row row-margin'>
                <h2>Bills Introduced</h2>
                {% if bill_list %}
                    <ul>
                    {% for bill in bill_list %}
                        <li><a href = '{% url "gov_data:bill_detail" bill.bill_id %}'>{{ bill.title }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No Bills to display.</p>
                {% endif %}
            </div>
        </div>
    </body>