<!DOCTYPE HTML>
<html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Senators</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'gov_data/senator_index_style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-inverse">
            <a class='btn btn-success nav-item nav-link' role='button' href = '{% url "gov_data:index" %}'>Home</a>
            <a class='btn btn-danger nav-item nav-link' role='button' href='{% url "gov_data:bills_index" %}'>Bills</a>
            <a class='btn btn-primary nav-item nav-link' role='button' href='{% url "gov_data:senators_index" %}'>Senators</a>
        </nav> 
        <div class ='container'>
            <div class='row'>
                <div class='col-sm-offset-4 col-sm-4'>
                    <h1>Senators List</h1>
                </div>
            </div>
            {% if senator_list %}
                <table class = 'table table-bordered'>
                        <thead class = 'thead-inverse'>
                            <tr>
                                <th class="Senator">Senator</th>
                                <th class="Party">Party</th>
                                <th class="State">State</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for senator in senator_list %}
                                <tr class = {{senator.party}}>
                                    <td><a href = '{% url "gov_data:senator_detail" senator.id %}'>{{senator.first}} {{senator.last}}</a></td>
                                    <td>{{senator.party}}</td>
                                    <td>{{senator.state}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
            {% else %}
                <p>No Senators to display.</p>
            {% endif %}
        </div>
    </body>